/**
 * iphone stylesheet
 */
div#sidebar-left {
  display: none;
}

#logo {
  left: 10px;
}

/* hiding for now, but i'd like it back */
div#search {
  display: none;
  /*
  display: block;
  float: left;
  white-space: pre;
  */
}

/* would like to display this, differently */
#footer {
  display: none;
}

.footer-col {
  width: 15%;
}

