/**
 * for the ipad in portrait mode
 */

div#sidebar-left {
  display: none;
}

.body-left #content {
  width: 95%;
  margin-left: -6px;
}

div.footer-col-first {
  width: 0;
}

.footer-col {
  width: 20%;
}

